<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='{FB674CBA-D1B3-4EF3-BE12-F90449416816}' Language='1033' Manufacturer='Not Set' Name='wixgem_com_test' UpgradeCode='{A3A07BC3-E256-4967-8BF8-7DCF4ED57FE5}' Version='1.0.0.0'>
        <Package Compressed='yes' InstallScope='perMachine' InstallerVersion='200'/>
        <Directory Id='TARGETDIR' Name='SourceDir'/>
        <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
            <ComponentGroupRef Id='InstallionFiles'/>
        </Feature>
        <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
    <CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            <Component Directory='dirFEB39CE38BA2CECE3B34091B12BBE48F' Guid='{1CFA77AC-487C-45E3-A859-CC4E052C0007}' Id='cmp0920723AAFAEA4E7F42EFFCAF6C5D3CD'>
                <Class Context='InprocServer32' Description='TestCOMObject.ComClassExample' ForeignServer='mscoree.dll' Id='{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}' ThreadingModel='both'>
                    <ProgId Description='TestCOMObject.ComClassExample' Id='COMObject.ComClassExample'/>
                </Class>
                <File Id='filAE5970BEFFC1CCA71953F483922350C5' KeyPath='yes' Source='.\COMObject\bin\Release\COMObject.dll'/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}' Root='HKCR' Type='string' Value=''/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0' Name='Class' Root='HKCR' Type='string' Value='TestCOMObject.ComClassExample'/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0' Name='Assembly' Root='HKCR' Type='string' Value='COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ecd9f52a11d8f12f'/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0' Name='RuntimeVersion' Root='HKCR' Type='string' Value='v4.0.30319'/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0' Name='CodeBase' Root='HKCR' Type='string' Value='file:///[#filAE5970BEFFC1CCA71953F483922350C5]'/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32' Name='Class' Root='HKCR' Type='string' Value='TestCOMObject.ComClassExample'/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32' Name='Assembly' Root='HKCR' Type='string' Value='COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ecd9f52a11d8f12f'/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32' Name='RuntimeVersion' Root='HKCR' Type='string' Value='v4.0.30319'/>
                <RegistryValue Action='write' Key='CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32' Name='CodeBase' Root='HKCR' Type='string' Value='file:///[#filAE5970BEFFC1CCA71953F483922350C5]'/>
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='TARGETDIR'>
            <Directory Id='dir91433C08C7E4720DAFBC10FF0B48A6ED' Name='COMObject'/>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='dir91433C08C7E4720DAFBC10FF0B48A6ED'>
            <Directory Id='dirEF31B3A4917D7554ED6E2DBBD9074DB2' Name='bin'/>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='dirEF31B3A4917D7554ED6E2DBBD9074DB2'>
            <Directory Id='dirFEB39CE38BA2CECE3B34091B12BBE48F' Name='Release'/>
        </DirectoryRef>
    </Fragment>
</Wix>
