<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='{895E7569-EC29-4BF8-A95B-4C5B8663C36E}' Language='1033' Manufacturer='Not Set' Name='wixgem_install_test8' UpgradeCode='{709965D0-EA90-4EE5-9A41-5E7748349E4C}' Version='1.0.0.0'>
        <Package Compressed='yes' InstallerVersion='200'/>
        <Directory Id='TARGETDIR' Name='SourceDir'/>
        <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
            <ComponentGroupRef Id='InstallionFiles'/>
        </Feature>
        <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
    <CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            <Component Directory='TARGETDIR' Guid='{F0316E20-0F8C-44E7-9904-E87654CCEB59}' Id='cmp6CBF876003676ED76F2434744DC1DEBA'>
                <File Id='fil1A494ACB18A36B075959928C734B3431' KeyPath='yes' Source='.\32145.txt'/>
            </Component>
            <Component Directory='TARGETDIR' Guid='{A2FEC56B-55CD-4340-917F-84BE6E25AD2C}' Id='cmpF4D8341031D9F75F8CD96BE8B4ADBF5D'>
                <File Id='fil551BC8ED66F072F3355F8853447D232C' KeyPath='yes' Source='.\File-With-Hyphen.txt'/>
            </Component>
            <Component Directory='dir715770DB9E04B7524F1E2F9BE82FC40D' Guid='{BA46E0D5-738E-46B2-9E8A-918784C9E068}' Id='cmpE33E22E4D5DC03F40F4C0020A2A746CF'>
                <File Id='fil566EA8B1923BB36AF8C48EC7C47BADD0' KeyPath='yes' Source='.\8.0\File With Space.txt'/>
            </Component>
            <Component Directory='dir3EE2B822E31E0231520E359488DA4936' Guid='{3E85F017-1D06-45D3-8482-C246AFA303F3}' Id='cmp0D56DC13B251960C1F29D3C134260CB4'>
                <File Id='fil309CE3D06A6FD016E1DAACC7DBE530AD' KeyPath='yes' Source='.\9.0\File With Space.txt'/>
            </Component>
            <Component Directory='dir26297785B55A5B894C2B14F83000FF73' Guid='{3320160C-527B-4A54-8786-8C404226E126}' Id='cmp7B7BE2C44CAA6A86CB7393B5708F6BBA'>
                <File Id='fil8E51BC711D18FE874F9EF1EC341279F1' KeyPath='yes' Source='.\9.0\test_files\a_file.txt'/>
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='dir3EE2B822E31E0231520E359488DA4936'>
            <Directory Id='dir26297785B55A5B894C2B14F83000FF73' Name='test_files'/>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='TARGETDIR'>
            <Directory Id='dir3EE2B822E31E0231520E359488DA4936' Name='9.0'/>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='TARGETDIR'>
            <Directory Id='dir715770DB9E04B7524F1E2F9BE82FC40D' Name='8.0'/>
        </DirectoryRef>
    </Fragment>
</Wix>
