<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='{AA2A9EDF-E787-4348-942D-F99B75C02A73}' Language='1033' Manufacturer='Not Set' Name='wixgem_merge_test2' UpgradeCode='{ED525C81-5A8B-459B-ABC7-3145E01C7D72}' Version='1.0.0.0'>
        <Package Compressed='yes' InstallerVersion='450'/>
        <Directory Id='TARGETDIR' Name='SourceDir'><Merge DiskId='1' Id='merge9C57E177F4238415B0D0C84ED46C6B85' Language='1033' SourceFile='.\test\wixgem_merge_test2.msm'/></Directory>
        <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
            <ComponentGroupRef Id='InstallionFiles'/>
        <MergeRef Id='merge9C57E177F4238415B0D0C84ED46C6B85'/></Feature>
        <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
    <CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='TARGETDIR'>
            <Directory Id='dirE623DCEBC9F9CFEE13B66F38FD7634CA' Name='test'/>
        </DirectoryRef>
    </Fragment>
</Wix>
