<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Module Id='wixgem_merge_test4' Language='1033' Version='1.0.0.0'>
        <Package Id='{9CCADA14-7B44-4F3E-B76D-55DAB673EB40}' InstallerVersion='200' Manufacturer='Not Set'/>
        <ComponentGroupRef Id='InstallionFiles'/>
        <ComponentRef Id='cmpD29CF95DB568093EBCD5B1FACCDCA5DE'/>
        <Directory Id='TARGETDIR' Name='SourceDir'/>
    </Module>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            <Component Directory='dir576C6867A1EC9A5300E67C6C65A8662F' Guid='{6963828A-2E54-496E-B687-5CA2AF8D1379}' Id='cmpD29CF95DB568093EBCD5B1FACCDCA5DE'>
                <File Id='fil3A2D7C116E16D517D6F1164D9F9EDE39' KeyPath='yes' Source='.\test_files\9.0\File With Space.txt'/>
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='dirE881972EA8E0B8FCAF6CEF6ABF73EFDD'>
            <Directory Id='dir576C6867A1EC9A5300E67C6C65A8662F' Name='9.0'/>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='TARGETDIR'>
            <Directory Id='dirE881972EA8E0B8FCAF6CEF6ABF73EFDD' Name='test_files'/>
        </DirectoryRef>
    </Fragment>
</Wix>
