<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='{1FFABA0C-FFCB-4703-A3E2-867F31A8DC8F}' Language='1033' Manufacturer='Not Set' Name='wixgem_install_test10' UpgradeCode='{B0275358-34FC-42B6-9E12-6575E203BC40}' Version='1.0.0.0'>
    <Package Compressed='yes' InstallerVersion='450'/>
    <Directory Id='TARGETDIR' Name='SourceDir'/>
    <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
      <ComponentGroupRef Id='InstallionFiles'/>
    </Feature>
    <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
  <CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
  <Fragment>
    <ComponentGroup Id='InstallionFiles'>
      <Component Directory='TARGETDIR' Guid='{6712A821-201A-46D2-9C8A-A7AF0F99F241}' Id='cmp4A983AF40FB7CEEB167926FEA9A2BA10'>
        <File Id='fil64DB3D5852600DA5FDE7CEC100CB1E13' KeyPath='yes' Source='.\32145.txt'/>
      </Component>
      <Component Directory='dir86f5bb6452064d7c94eec584c0d3be45' Guid='{24388920-C76C-4FD7-8FF4-9FA63AA529D4}' Id='cmp51ff9a735b774066ae043ef09bf33c1a'>
        <File Id='fil23aaae8f9e324a5f86fb26a63116273f' KeyPath='yes' Source='.\8.0\File With Space.txt'/>
      </Component>
      <Component Directory='dirbdcba631728e45609b0178e4ba56525b' Guid='{EA778C1F-6E84-4286-A523-BFC3BB574419}' Id='cmpbdf823aebd1a489b95eb2d9c3bc30e9d'>
        <File Id='fil329da4c4422245d893243b57d9d2f42a' KeyPath='yes' Source='.\9.0\File With Space.txt'/>
      </Component>
      <Component Directory='dir45ce68a36d654099997d85070e38f098' Guid='{F74BBB8E-6FEE-4DDC-A9A6-64D1AC8F521B}' Id='cmp4b3b9fca87a549cb82a845a70a586cff'>
        <File Id='filaf9acda39e4242709fec93ace1731ab6' KeyPath='yes' Source='.\9.0\test_files\a_file.txt'/>
      </Component>
      <Component Directory='TARGETDIR' Guid='{2C6E5501-202F-44AC-84F7-650C0412B647}' Id='cmpe14b6b5c5a7b4450a5f5d4079b1306de'>
        <File Id='filba551c03fb0148ca94764520700ee893' KeyPath='yes' Source='.\Camera.ico'/>
      </Component>
      <Component Directory='TARGETDIR' Guid='{518F189C-0E7C-4D32-AD54-3CB5041AD792}' Id='cmpe65bcccd810e4f74817095b2a65c8438'>
        <File Id='fil0fffb0096136423c936ffbd1f2ff1f23' KeyPath='yes' Source='.\File-With-Hyphen.txt'/>
      </Component>
      <Component Directory='TARGETDIR' Guid='{6811615E-F4FE-4423-925C-875FD39E8379}' Id='cmpd4ff9d9ee21b4472a4d7438cb46bbc63'>
        <File Id='fil883efcd4ed9e40e79dd1d096b9a8dc63' KeyPath='yes' ReadOnly='yes' Source='.\ReadOnly.txt'/>
      </Component>
      <Component Directory='TARGETDIR' Guid='{D64EB1BB-EA15-43DE-AF4F-4C224CA4D6B3}' Id='cmp99f87b91b6ca445f88f5bff6209da94b'>
        <File Id='fild5f95941cfdb404c897855eb083caf52' KeyPath='yes' Source='.\test.exe'/>
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='dir86f5bb6452064d7c94eec584c0d3be45' Name='8.0'/>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='dirbdcba631728e45609b0178e4ba56525b' Name='9.0'/>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='dirbdcba631728e45609b0178e4ba56525b'>
      <Directory Id='dir45ce68a36d654099997d85070e38f098' Name='test_files'/>
    </DirectoryRef>
  </Fragment>
</Wix>
