<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='{A403C6C5-A291-4896-B30F-F5458A7DFDE5}' Language='1033' Manufacturer='Not Set' Name='wixgem_merge_test1' UpgradeCode='{7CEEA118-17D1-4A24-BBE9-D0456302CB99}' Version='1.0.0.0'>
        <Package Compressed='yes' InstallerVersion='450'/>
        <Directory Id='TARGETDIR' Name='SourceDir'><Merge DiskId='1' Id='merge626585919A3E43F660332BCFE1D396F0' Language='1033' SourceFile='.\test\wixgem_merge_test1.msm'/></Directory>
        <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
            <ComponentGroupRef Id='InstallionFiles'/>
        <MergeRef Id='merge626585919A3E43F660332BCFE1D396F0'/></Feature>
        <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
    <CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='TARGETDIR'>
            <Directory Id='dirE623DCEBC9F9CFEE13B66F38FD7634CA' Name='test'/>
        </DirectoryRef>
    </Fragment>
</Wix>
