<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='{420D17B9-03D7-4348-AABC-E7868B9F0D9F}' Language='1033' Manufacturer='Not Set' Name='wixgem_merge_test3' UpgradeCode='{10A7D089-40B8-46DC-80DC-53C47794DC9F}' Version='1.0.0.0'>
        <Package Compressed='yes' InstallerVersion='200'/>
        <Directory Id='TARGETDIR' Name='SourceDir'><Merge DiskId='1' Id='merge164757C3617BCA8F5C0DA2AC4A3E0F3E' Language='1033' SourceFile='.\test\wixgem_merge_test3.msm'/></Directory>
        <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
            <ComponentGroupRef Id='InstallionFiles'/>
        <MergeRef Id='merge164757C3617BCA8F5C0DA2AC4A3E0F3E'/></Feature>
        <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
    <CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='TARGETDIR'>
            <Directory Id='dirE623DCEBC9F9CFEE13B66F38FD7634CA' Name='test'/>
        </DirectoryRef>
    </Fragment>
</Wix>
