<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Module Id='wixgem_merge_test3' Language='1033' Version='1.0.0.0'>
        <Package Id='{382922F3-BCF4-44E4-98B9-D95F50840317}' InstallerVersion='200' Manufacturer='Not Set'/>
        <ComponentGroupRef Id='InstallionFiles'/>
        <ComponentRef Id='cmpB941A6F34A9C1ACDB7DFD45905FF000B'/>
        <ComponentRef Id='cmp813D50662C85E719A6DA543981D0DF7E'/>
        <Directory Id='TARGETDIR' Name='SourceDir'/>
    </Module>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            <Component Directory='TARGETDIR' Guid='{9ABCBB1C-AA97-46B3-8892-2B78B01CA99A}' Id='cmpB941A6F34A9C1ACDB7DFD45905FF000B'>
                <File Id='filA25C7980B2D45A22736480C78000FC5F' KeyPath='yes' Source='.\Gemfile'/>
            </Component>
            <Component Directory='TARGETDIR' Guid='{80F52EAD-9A66-4F2E-822E-A039C49414A2}' Id='cmp813D50662C85E719A6DA543981D0DF7E'>
                <File Id='fil01C7C0523699D7297537A588D7D820BB' KeyPath='yes' Source='.\rakefile.rb'/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
