<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='{4528ae5a-c7fa-40a6-a70e-ac8135f1114c}' Language='1033' Manufacturer='Not Set' Name='wixgem_install_test5' UpgradeCode='{79C365EC-0704-4F8D-B683-2F1FF122C1CC}' Version='1.0.0.0'>
        <Package Compressed='yes' InstallerVersion='200'/>
        <Directory Id='TARGETDIR' Name='SourceDir'/>
        <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
            <ComponentGroupRef Id='InstallionFiles'/>
        </Feature>
        <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
    <CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            <Component Directory='TARGETDIR' Guid='{2CE1DE3C-32DE-4027-BB4B-E96039788071}' Id='cmpB941A6F34A9C1ACDB7DFD45905FF000B'>
                <File Id='filA25C7980B2D45A22736480C78000FC5F' KeyPath='yes' Source='.\Gemfile'/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
