<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='{B92C32CF-13A1-4FF1-B72F-D1EE39EE36CB}' Language='1033' Manufacturer='Not Set' Name='wixgem_create_shortcut_test1' UpgradeCode='{39B4D915-6FBB-4A5B-8F21-8A9AD05D5CF5}' Version='1.0.0.0'>
        <Package Compressed='yes' InstallerVersion='450'/>
        <Directory Id='TARGETDIR' Name='SourceDir'/>
        <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
            <ComponentGroupRef Id='InstallionFiles'/>
        </Feature>
        <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
    <CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            <Component Directory='dirE881972EA8E0B8FCAF6CEF6ABF73EFDD' Guid='{8BEE97C3-5635-4226-B3D6-F6184FD7FEE5}' Id='cmp76459E1097DAAE80980B9D598A3AD93E'>
                <File Id='filC0B8D6FA3507CE639640629756DBF80D' KeyPath='yes' Source='.\test_files\32145.txt'><Shortcut Advertise='yes' Directory='DesktopFolder' Id='Shortcut_93550ad91e1649a6a4552e0f82868151' Name='32145.txt'/></File>
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id='TARGETDIR'>
            <Directory Id='dirE881972EA8E0B8FCAF6CEF6ABF73EFDD' Name='test_files'/>
        </DirectoryRef>
    </Fragment>
<Fragment><DirectoryRef Id='TARGETDIR'><Directory Id='DesktopFolder' Name='Desktop'/></DirectoryRef></Fragment></Wix>
