<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir071A527E8063E603BB88D2A6EFAE8DBD" Name="COMObject" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEB55F906ABD94D97F5F53C4A27EA5535">
            <Component Id="cmp018CD2100DE39C75F9848153202A3F53" Guid="PUT-GUID-HERE">
                <Class Id="{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}" Context="InprocServer32" Description="TestCOMObject.ComClassExample" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="COMObject.ComClassExample" Description="TestCOMObject.ComClassExample" />
                </Class>
                <File Id="fil6EBC0A84DDF5304B6D369B8A34F1588D" KeyPath="yes" Source="SourceDir\obj\Release\COMObject.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ecd9f52a11d8f12f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil85651515E653366487FAEC31FD23163F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ecd9f52a11d8f12f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="CodeBase" Value="file:///[#fil85651515E653366487FAEC31FD23163F]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1FCA232D8EA3596F367EABDA96373EE1">
            <Component Id="cmp0283BBF34E8C5F28D9190598D4855F78" Guid="PUT-GUID-HERE">
                <File Id="fil8A7F79945E8A6EADC3B139CCD277988B" KeyPath="yes" Source="SourceDir\obj\Debug\COMObject.csproj.FileListAbsolute.txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA4E1EE40B31C1B66B85F181E2E99D4EE">
            <Component Id="cmp070B14B869682D166CC9CF0BB875B044" Guid="PUT-GUID-HERE">
                <File Id="fil2BC3503C5D934EF53A9B9D0B2F3409E3" KeyPath="yes" Source="SourceDir\bin\AnyCPU\Release\COMObject.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1FCA232D8EA3596F367EABDA96373EE1">
            <Component Id="cmp08FC63FD4BE294B38316F4F52D415E30" Guid="PUT-GUID-HERE">
                <File Id="fil4AEF84B748FBD8D671F657E7B54089DB" KeyPath="yes" Source="SourceDir\obj\Debug\COMObject.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1FCA232D8EA3596F367EABDA96373EE1">
            <Component Id="cmp0D0EEF91D4ACCB4318EED25FF10D8083" Guid="PUT-GUID-HERE">
                <File Id="fil4D013B4DA38E260F28C458D1B0462514" KeyPath="yes" Source="SourceDir\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirAC4E007EFB0D94BF0D8E8CFA651C83D9">
            <Component Id="cmp11BE8ED5B4F20F6EE55487F88D09A89F" Guid="PUT-GUID-HERE">
                <File Id="filE7770752158C2DAFD39DD67373518C3C" KeyPath="yes" Source="SourceDir\Properties\AssemblyInfo.cs" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir071A527E8063E603BB88D2A6EFAE8DBD">
            <Component Id="cmp121E575F58091FAF2E30A124212F107E" Guid="PUT-GUID-HERE">
                <File Id="filF0BE34B4B7D021B31CA3BB098AC3C361" KeyPath="yes" Source="SourceDir\COMObject.csproj" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir071A527E8063E603BB88D2A6EFAE8DBD">
            <Component Id="cmp130796AB3BC667C2992E73046DDA5EAE" Guid="PUT-GUID-HERE">
                <File Id="fil34C69B8794C44F23DFD9DAA8F183FE56" KeyPath="yes" Source="SourceDir\COMObject.sln" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirCD926AAB878376CCBA9E416547BF3D4C">
            <Component Id="cmp1F5427C5E900113140D55181BB20BC5B" Guid="PUT-GUID-HERE">
                <Class Id="{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}" Context="InprocServer32" Description="TestCOMObject.ComClassExample" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="TestCOMObject.ComClassExample" Description="TestCOMObject.ComClassExample" />
                </Class>
                <File Id="filB716B292F6E785F44F3433BD9A666C88" KeyPath="yes" Source="SourceDir\bin\Debug\COMObject.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filB716B292F6E785F44F3433BD9A666C88]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="CodeBase" Value="file:///[#filB716B292F6E785F44F3433BD9A666C88]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD178662F0E9C51256B0495F2E583D99E">
            <Component Id="cmp204B83BB2E6069FC7EE7F2DE3AECC1D0" Guid="PUT-GUID-HERE">
                <File Id="fil079BDD482EE41535D926F645DA90A766" KeyPath="yes" Source="SourceDir\bin\Release\COMObject.tlb">
                    <TypeLib Id="{77CE3D53-D562-4C27-ACA9-C089DBFB0DAF}" Description="COMObject" HelpDirectory="dirD178662F0E9C51256B0495F2E583D99E" Language="0" MajorVersion="1" MinorVersion="0">
                        <Interface Id="{7068AC34-DBB0-4E40-84A7-C2243355E2D7}" Name="IComClassExample" ProxyStubClassId32="{00020420-0000-0000-C000-000000000046}" />
                    </TypeLib>
                </File>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir071A527E8063E603BB88D2A6EFAE8DBD">
            <Component Id="cmp2F7F5D3C5E65F142C60A1451F3B46217" Guid="PUT-GUID-HERE">
                <File Id="fil7F0CD1A1C244B915F6825BECD7EAB093" KeyPath="yes" Source="SourceDir\COMObject.snk" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD178662F0E9C51256B0495F2E583D99E">
            <Component Id="cmp4A672781A1A3B0D64487F979BEB968D5" Guid="PUT-GUID-HERE">
                <Class Id="{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}" Context="InprocServer32" Description="TestCOMObject.ComClassExample" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="COMObject.ComClassExample" Description="TestCOMObject.ComClassExample" />
                </Class>
                <File Id="filF13AB9B0689EEA8B79F30B60564F73E4" KeyPath="yes" Source="SourceDir\bin\Release\COMObject.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ecd9f52a11d8f12f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil85651515E653366487FAEC31FD23163F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ecd9f52a11d8f12f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="CodeBase" Value="file:///[#fil85651515E653366487FAEC31FD23163F]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir071A527E8063E603BB88D2A6EFAE8DBD">
            <Component Id="cmp5078989A06133E1277C6A0D80581B4E1" Guid="PUT-GUID-HERE">
                <File Id="filCDDCF0736B0BE5601F7A150533DCFA07" KeyPath="yes" Source="SourceDir\COMObject.v12.suo" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEB55F906ABD94D97F5F53C4A27EA5535">
            <Component Id="cmp53AF96648B01EC1C763402A70877AFA1" Guid="PUT-GUID-HERE">
                <File Id="fil4CE83104A65502F355B639537791EB24" KeyPath="yes" Source="SourceDir\obj\Release\COMObject.csproj.FileListAbsolute.txt" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEB55F906ABD94D97F5F53C4A27EA5535">
            <Component Id="cmp77DCBF6C14767B99453981F6CDFF4D93" Guid="PUT-GUID-HERE">
                <File Id="fil39EB4B9154DB59BBCD00D26D01F51342" KeyPath="yes" Source="SourceDir\obj\Release\COMObject.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirCD926AAB878376CCBA9E416547BF3D4C">
            <Component Id="cmp7802BF7DFEE1AE9710C4D2837E9E4B89" Guid="PUT-GUID-HERE">
                <File Id="fil22BDA010254CBE559CAB3433C9CD0F6B" KeyPath="yes" Source="SourceDir\bin\Debug\COMObject.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEB55F906ABD94D97F5F53C4A27EA5535">
            <Component Id="cmpB289BDD96FD33627E880FD38B3525174" Guid="PUT-GUID-HERE">
                <File Id="fil0191279E0E45144C0D21DA15540830BC" KeyPath="yes" Source="SourceDir\obj\Release\COMObject.csprojResolveAssemblyReference.cache" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1FCA232D8EA3596F367EABDA96373EE1">
            <Component Id="cmpCEB0180E28B4A8C9B15F14A98F5637C5" Guid="PUT-GUID-HERE">
                <File Id="fil03179089201ECB69A050F5F2996D9642" KeyPath="yes" Source="SourceDir\obj\Debug\COMObject.csprojResolveAssemblyReference.cache" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir071A527E8063E603BB88D2A6EFAE8DBD">
            <Component Id="cmpD243622FED5A58AEAA808787F377F59F" Guid="PUT-GUID-HERE">
                <File Id="filD58E1421DFADB0E51D15CA82928A1EC7" KeyPath="yes" Source="SourceDir\COMClassExample.cs" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirEB55F906ABD94D97F5F53C4A27EA5535">
            <Component Id="cmpD7F87E9A1F1E739B8A5FDBD8B8DFFD0E" Guid="PUT-GUID-HERE">
                <File Id="fil29D82D1E122C8D378FAE116343D785AB" KeyPath="yes" Source="SourceDir\obj\Release\DesignTimeResolveAssemblyReferencesInput.cache" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA4E1EE40B31C1B66B85F181E2E99D4EE">
            <Component Id="cmpDB1D2B8960D0CCD0E7BDE538FE7FC79E" Guid="PUT-GUID-HERE">
                <Class Id="{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}" Context="InprocServer32" Description="TestCOMObject.ComClassExample" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="COMObject.ComClassExample" Description="TestCOMObject.ComClassExample" />
                </Class>
                <File Id="fil85651515E653366487FAEC31FD23163F" KeyPath="yes" Source="SourceDir\bin\AnyCPU\Release\COMObject.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ecd9f52a11d8f12f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil85651515E653366487FAEC31FD23163F]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ecd9f52a11d8f12f" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="CodeBase" Value="file:///[#fil85651515E653366487FAEC31FD23163F]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1FCA232D8EA3596F367EABDA96373EE1">
            <Component Id="cmpF5BCE3A3F4A2B6F870815884D742ECDC" Guid="PUT-GUID-HERE">
                <Class Id="{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}" Context="InprocServer32" Description="TestCOMObject.ComClassExample" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="TestCOMObject.ComClassExample" Description="TestCOMObject.ComClassExample" />
                </Class>
                <File Id="fil81378672A701C2FFA14387386D5D79B1" KeyPath="yes" Source="SourceDir\obj\Debug\COMObject.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filB716B292F6E785F44F3433BD9A666C88]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Class" Value="TestCOMObject.ComClassExample" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="Assembly" Value="COMObject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{863AEADA-EE73-4F4A-ABC0-3FB384CB41AA}\InprocServer32" Name="CodeBase" Value="file:///[#filB716B292F6E785F44F3433BD9A666C88]" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD178662F0E9C51256B0495F2E583D99E">
            <Component Id="cmpFD7839C95E24CA570589EBBA104E72CF" Guid="PUT-GUID-HERE">
                <File Id="fil4B75E5E39AA08B11E70962140C988676" KeyPath="yes" Source="SourceDir\bin\Release\COMObject.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D541A5D7AE0213D6BCB0117AE4B3E93">
            <Directory Id="dir1FCA232D8EA3596F367EABDA96373EE1" Name="Debug" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir071A527E8063E603BB88D2A6EFAE8DBD">
            <Directory Id="dir4D541A5D7AE0213D6BCB0117AE4B3E93" Name="obj" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE1B4793C71515CB68BAC670A914A7020">
            <Directory Id="dir9CB1057F1DFC9F0AA7AACD6ADA43ED97" Name="AnyCPU" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir9CB1057F1DFC9F0AA7AACD6ADA43ED97">
            <Directory Id="dirA4E1EE40B31C1B66B85F181E2E99D4EE" Name="Release" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir071A527E8063E603BB88D2A6EFAE8DBD">
            <Directory Id="dirAC4E007EFB0D94BF0D8E8CFA651C83D9" Name="Properties" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE1B4793C71515CB68BAC670A914A7020">
            <Directory Id="dirCD926AAB878376CCBA9E416547BF3D4C" Name="Debug" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE1B4793C71515CB68BAC670A914A7020">
            <Directory Id="dirD178662F0E9C51256B0495F2E583D99E" Name="Release" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir071A527E8063E603BB88D2A6EFAE8DBD">
            <Directory Id="dirE1B4793C71515CB68BAC670A914A7020" Name="bin" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4D541A5D7AE0213D6BCB0117AE4B3E93">
            <Directory Id="dirEB55F906ABD94D97F5F53C4A27EA5535" Name="Release" />
        </DirectoryRef>
    </Fragment>
</Wix>