<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Id='{7A4085FE-B210-4C28-BC2E-6F645F4BFB21}' Language='1033' Manufacturer='Not Set' Name='wixgem_install_test1' UpgradeCode='{9474C2D4-C7F5-4012-A4B4-EF241D476BAB}' Version='1.0.0.0'>
        <Package Compressed='yes' InstallerVersion='450'/>
        <Directory Id='TARGETDIR' Name='SourceDir'/>
        <Feature Id='ProductFeature' Level='1' Title='Files to Install'>
            <ComponentGroupRef Id='InstallionFiles'/>
        </Feature>
        <Media Cabinet='product.cab' EmbedCab='yes' Id='1'/>
    <SetProperty After='CostFinalize' Id='ARPINSTALLLOCATION' Sequence='both' Value='[ProgramFilesFolder][ProductName]'/><CustomAction Execute='firstSequence' Id='SetTARGETDIR' Property='TARGETDIR' Return='check' Value='[ProgramFilesFolder][ProductName]'/><InstallExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallExecuteSequence><InstallUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></InstallUISequence><AdminExecuteSequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminExecuteSequence><AdminUISequence><Custom Action='SetTARGETDIR' Before='CostInitialize'/></AdminUISequence></Product>
    <Fragment>
        <ComponentGroup Id='InstallionFiles'>
            <Component Directory='TARGETDIR' Guid='{B5A88D87-CC97-4A71-9F32-CE7A54F3A3D9}' Id='cmp813D50662C85E719A6DA543981D0DF7E'>
                <File Id='fil01C7C0523699D7297537A588D7D820BB' KeyPath='yes' Source='.\rakefile.rb'/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
